.one {
	margin-top: 0;
	background-color: black;
	background-image: url(../images/standing.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0cad11; /*#111;*/
}

.active {
    background-color: #4CAF50;
}
	/*success html*/

.eye li a:hover {
	background-color: #0cad11;
}

.look {
	background-image: url(../images/eye.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.thanks {
	margin-top:  1000px;
	color: #0cad11;
	text-align: center;
	transform: uppercase;
}


h2
{
	margin: 0 0 10px 0;
	text-align: center;
}

form
{
	margin: 50px auto 0 auto;
	border: 45px solid #242625;
	opacity: 0.5;
	width: 25%;
	height: 40%;
	padding: 10px;
	margin-right: 27%;
	margin-top: 25%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 4px 4px #f4aa42;
	-moz-box-shadow: 4px 4px 4px 4px #f4aa42;
	box-shadow: 4px 4px 4px 4px #f4aa42;
}

h2, label {
	font-size: 16px;
	color: #0b8705;
	/*text-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #a5781f;*/
}

	form div.row
	{
		margin-bottom: 10px;
	}
	
		form div.row label
		{
			display: block;
			float: left;
			width: 96px;
			text-align: right;
			padding-right: 4px;
		}
		
		form div.row input
		{
			margin: 0;
			width: 190px;
		}
		
		form div.row input.submit
		{
			width: auto;
		}
		
		/* jquery-validate error messages */
		form div.row label.error
		{
			float: none;
			width: auto;
			text-align: left;
			color: #f44;
		}
		/* jquery-validate invalid fields */
		form div.row input.error
		{
			border-color: #f44;
		}